.add-edit-user__add-btn {
  display: flex;
  align-items: center;
}

.add-edit-user__add-btn span {
  display: none;
}

@media screen and (min-width: 768px) {
  .add-edit-user__add-btn span {
    display: inline;
    padding-left: 0.5rem;
  }
}

.add-edit-user__delete-btn {
  border: none;
  color: rgb(45, 45, 45);
  background-color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  height: 1.5rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.add-edit-user__delete-btn:hover {
  color: rgb(120, 120, 120);
}
