.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__ring {
  display: inline-block;
  position: relative;
}
.loader__md {
  width: 80px;
  height: 80px;
}
.loader__sm {
  width: 30px;
  height: 30px;
}
.loader__ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border-radius: 50%;
  animation: loader__ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.loader__md div {
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(170, 170, 170);
  border-color: rgb(170, 170, 170) transparent transparent transparent;
}
.loader__sm div {
  width: 22px;
  height: 22px;
  margin: 3px;
  border: 3px solid rgb(170, 170, 170);
  border-color: rgb(170, 170, 170) transparent transparent transparent;
}
.loader__ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader__ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader__ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader__ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
