.user-list {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .user-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .user-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
